[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiosqlite = "*"
sqlalchemy = "*"
greenlet = "*"
authx = "*"
pydantic = "*"
jinja2 = "*"
redis = "*"
passlib = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.13"
